<div class="container py-16 md:py-20" id="services">
  <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
    {{'SERVICES.TITLE' | translate}}
  </h2>
  <h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
    {{'SERVICES.SUBTITLE' | translate}}
  </h3>

  <div class="grid grid-cols-1 gap-6 pt-10 sm:grid-cols-2 md:gap-10 md:pt-12 lg:grid-cols-3">
    
    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-development-white.svg" alt="development icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-development-black.svg" alt="development icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_1_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_1_DESC' | translate">
        </p>
      </div>
    </div>

    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-mobile-white.svg" alt="management icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-mobile-black.svg" alt="management icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_2_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_2_DESC' | translate">
        </p>
      </div>
    </div>

    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-content-white.svg" alt="database icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-content-black.svg" alt="database icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_3_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_3_DESC' | translate">
        </p>
      </div>
    </div>

    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-graphics-white.svg" alt="optimization icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-graphics-black.svg" alt="optimization icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_4_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_4_DESC' | translate">
        </p>
      </div>
    </div>

    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-design-white.svg" alt="hardware icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-design-black.svg" alt="hardware icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_5_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_5_DESC' | translate">
        </p>
      </div>
    </div>

    <div class="group rounded px-8 py-12 shadow hover:bg-primary transition-colors">
      <div class="mx-auto h-24 w-24 text-center xl:h-28 xl:w-28">
        <div class="hidden group-hover:block"><img src="assets/img/icon-puzzle.svg" class="brightness-0 invert" alt="AI icon" /></div>
        <div class="block group-hover:hidden"><img src="assets/img/icon-puzzle.svg" alt="AI icon" /></div>
      </div>
      <div class="text-center">
        <h3 class="pt-8 text-lg font-semibold uppercase text-primary group-hover:text-yellow lg:text-xl">
          {{'SERVICES.CARD_6_TITLE' | translate}}
        </h3>
        <p class="text-grey pt-4 text-sm group-hover:text-white md:text-base" [innerHTML]="'SERVICES.CARD_6_DESC' | translate">
        </p>
      </div>
    </div>

  </div>
</div>