@tailwind base;
@tailwind components;
@tailwind utilities;

/* OCULTAR CURSOR */
* {
  cursor: none !important;
}

/*PUNTO CENTRAL*/
.cursor-dot {
  width: 8px;
  height: 8px;
  background-color: theme('colors.yellow');
  position: fixed;
  top: 0; left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9999;
  pointer-events: none;
}

/* CIRCULO EXTERIOR */
.cursor-outline {
  width: 30px;
  height: 30px;
  border: 2px solid theme('colors.primary');
  position: fixed;
  top: 0; left: 0;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  z-index: 9998;
  pointer-events: none;
  transition: left 0.15s ease-out, top 0.15s ease-out, width 0.2s, height 0.2s, background-color 0.2s;
}

.cursor-outline.cursor-hover {
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
}
.bg-mesh-animated {
  /* Podés cambiar estos colores hexadecimales por los de la paleta que elegiste */
  background: linear-gradient(-45deg, #2e1065, #00f0ff, #1e293b, #b026ff);
  background-size: 400% 400%;
  animation: gradientMove 15s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}