<div class="container py-16 md:py-20" id="experience">
  <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">{{'EXPERIENCE.TITLE' | translate}}</h2>
  <h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
    {{'EXPERIENCE.SUBTITLE' | translate}}
  </h3>

  <div class="mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    
    <div class="flex flex-col border-b border-grey-40 pb-10 md:flex-row">
      <div class="md:w-1/4">
        <h4 class="font-header text-xl font-bold uppercase text-primary">{{'EXPERIENCE.JOB_1_TITLE' | translate}}</h4>
        <span class="block font-body font-bold text-grey-40">{{'EXPERIENCE.JOB_1_DATE' | translate}}</span>
      </div>
      <div class="md:w-3/4 md:pl-10">
        <h3 class="pt-2 font-header text-2xl font-bold text-black md:pt-0">{{'EXPERIENCE.JOB_1_ROLE' | translate}}</h3>
        <p class="pt-4 font-body leading-relaxed text-grey-20" [innerHTML]="'EXPERIENCE.JOB_1_DESC' | translate">
        </p>
        <ul class="list-disc pl-5 pt-4 font-body text-grey-20">
          <li>{{'EXPERIENCE.JOB_1_BULLET_1' | translate}}</li>
          <li>{{'EXPERIENCE.JOB_1_BULLET_2' | translate}}</li>
          <li>{{'EXPERIENCE.JOB_1_BULLET_3' | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>