<div class="container py-16 md:py-20" id="experience">
  <h2 class="text-center font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">Professional Experience</h2>
  <h3 class="pt-6 text-center font-header text-xl font-medium text-black sm:text-2xl lg:text-3xl">
    My journey as a Freelancer and IT Professional
  </h3>

  <div class="mx-auto mt-12 flex w-full flex-col lg:w-2/3">
    
    <div class="flex flex-col border-b border-grey-40 pb-10 md:flex-row">
      <div class="md:w-1/4">
        <h4 class="font-header text-xl font-bold uppercase text-primary">Freelance</h4>
        <span class="block font-body font-bold text-grey-40">March 2026 - Present</span>
      </div>
      <div class="md:w-3/4 md:pl-10">
        <h3 class="pt-2 font-header text-2xl font-bold text-black md:pt-0">Full Stack Developer</h3>
        <p class="pt-4 font-body leading-relaxed text-grey-20">
          Providing end-to-end web solutions for local businesses and personal clients. I specialize in building management systems and landing pages using <b>Spring Boot</b>, <b>Angular</b>, and <b>PostgreSQL</b>.
        </p>
        <ul class="list-disc pl-5 pt-4 font-body text-grey-20">
          <li>Requirements gathering and direct communication with clients to define business logic.</li>
          <li>Design and implementation of relational databases tailored to specific business needs.</li>
          <li>Deployment and maintenance of applications in production environments.</li>
        </ul>
      </div>
    </div>
  </div>
</div>